@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');

@font-face {
    font-family: "Geist";
    src: url("/fonts/Geist-Regular.otf");
}

@font-face {
    font-family: "Geist Mono";
    src: url("/fonts/GeistMono-Regular.otf");
}

html {
    font-family: "Geist", sans-serif;
    /* font-family: "Geist Mono", monospace; */
}
